.palindrome_container {
  height: 45vh;
  background-color: rgb(195, 161, 161);
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

.form-palindrome {
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 500px;
  justify-content: center;
  margin: auto;
}

.form-palindrome .result {
  margin-top: 30px;
}
